<!DOCTYPE html>
<html>
    <body>
    	<form method="get" action="/quizzes" >
	    	<input type='text' name="search" placeholder="Búsqueda"/>
	    	<input type="submit" value="Buscar" />
    	</form>
	    <table>
			<% for (var i in quizzes) { %>
			<tr>
				<td>
					<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
				</td>
			</tr>
			<% } %>
		</table>
  </body>
</html>
