<!DOCTYPE html>
<html>
    <body>
	    <table>
			<% for (var i in quizzes) { %>
			<tr>
				<td>
					<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
				</td>
			</tr>
			<% } %>
		</table>
  </body>
</html>
