<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <body>
	    <table>
			<% for (var i in quizzes) { %>
			<tr>
				<td>
					<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
				</td>
			</tr>
			<% } %>
		</table>
  </body>
</html>
=======
<table>
	<% for (var i in quizzes) { %>
	<tr>
		<td>
			<a href="/quizzes/<%= quizzes[i].id %>"><%= quizzes[i].question %></a>
		</td>
	</tr>
	<% } %>
</table>
>>>>>>> d417748fa44979bdefc0067bb824e81958ec24e3
